<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @moderator.name %>!</h1>
    <br/>
    <p>
    	Your video <%= @video.title %> is in the render queue...<br/>
    	<br/>
    	You will receive an email once it is ready.<br/>
    	<br/>
    	Cheers!<br/>
    	<br/>
    	The Gruvid Team
    </p>
  </body>
</html>