<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @moderator.name %>!</h1>
    <br/>
    <p>
    	Guess what?? your video is ready!<br/>
    	<br/>
    	Click <a href="<%= @video.url %>">here</a> to watch the video.<br/>
    	<br/>
    	Enjoy!!<br/>
    	<br/>
    	The Gruvid Team
    </p>
  </body>
</html>