<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <p>Thanks for signing to Gruvid. It's time to create amazing videos!</p>
  </body>
</html>